<?xml version="1.0"?>

<robot name="camera">
  <link name="camera_stand_link">
    <inertial>
      <mass value="1e-6"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>

    <visual>
      <geometry>
        <cylinder length="0.20" radius="0.01"/>
      </geometry>
      <material name="white">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
  </link>

  <joint name="camera_stand_joint" type="fixed">
    <parent link="crane_x7_gripper_base_link"/>
    <child  link="camera_stand_link"/>
    <origin xyz="0 0 0" rpy="1.570796326795 1.570796326795 0"/>
  </joint>

</robot>
